<div class="anim-container">
	<div class="title-bar">
		<div *ngIf="view == 'desktop'" class="title">
			<div class="header h2 light">Desktop</div>
			<div class="header h3 light">Side Drawer Closed</div>
		</div>
		<div *ngIf="view == 'desktop-active'" class="title">
			<div class="header h2 light">Desktop</div>
			<div class="header h3 light">Side Drawer Opened</div>
		</div>
		<div *ngIf="view == 'mobile'" class="title">
			<div class="header h2 light">Mobile</div>
			<div class="header h3 light">Side Drawer Closed</div>
		</div>
		<div *ngIf="view == 'mobile-active'" class="title">
			<div class="header h2 light">Mobile</div>
			<div class="header h3 light">Side Drawer Opened</div>
		</div>
	</div>
 	<div class="device desktop">
		<div class="toolbar">
			<span class="btn"></span>
			<span class="btn orange"></span>
			<span class="btn green"></span>
		</div>
		<div class="content-anim">
			<div class="nav-anim-bar">
					<div class="logo">
						 <span class="menu-bar"><i class="fa fa-bars" aria-hidden="true"></i></span>
						 <span class="lgo">Logo</span>
						 <span class="menu-toggle-bar"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
					</div>
					<div *ngFor="let item of [0,1,2,3,4,5,6,7]"></div>
			</div>
			<div class="screen">
				<div class="backdrop"></div>
				<div class="sidebar">
						<div class="sctn-bars">
							<div *ngFor="let item of [0,1,2,3,4,6,7,8]"></div>
						</div>
				</div>
				<div class="columns wrap grow-mobile responsive">
					<div class="column" *ngFor="let item of [0,1,2,3]">
						<div class="sctn-bars">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-bottom-bar"></div>
	</div>
</div>