<div class="close">
				<i class="fa fa-times-circle" aria-hidden="true" remove-class='{"for":"nav_1","class":"active"}'></i>
</div>
<div class="nav-list">
	<div class="nav-avtar">
		<div class="avtar-bg nav-avtar-grd"></div>
		<img class="avtar-img" src="assets/logo.png" style="display: none"/>
		<div class="avtar-info">
			<div class="avtar-text"><b>{{app_name}}</b></div>
			<div class="avtar-details">Customized UI Components</div>
		</div>
	</div>
	<div class="nav-list-header">Elements</div>
	
	<div class="nav-list-item ripple" [routerLink]="['/docs/typography']" routerLinkActive="active">
		<span class="icon"><i class="fa fa-header" aria-hidden="true"></i>	</span>
		<span class="text" >Typography</span>
	</div>
	<div class="nav-list-item ripple" [routerLink]="['/docs/buttons']" routerLinkActive="active">
		<span class="icon"><i class="fa fa-backward" aria-hidden="true"></i></span>
		<span class="text" >Button</span>
	</div>
	<div class="nav-list-item ripple" [routerLink]="['/docs/input']" routerLinkActive="active">
		<span class="icon"><i class="fa fa-text-height" aria-hidden="true"></i></span>
		<span class="text" >Input</span>
	</div>
	<div class="nav-list-item" [routerLink]="['/docs/list']" routerLinkActive="active">
		<span class="icon"><i class="fa fa-list" aria-hidden="true"></i></span>
		<span class="text">List</span>
	</div>
	<div class="nav-list-item" [routerLink]="['/docs/label']" routerLinkActive="active">
		<span class="icon"><i class="fa fa-tag" aria-hidden="true"></i></span>
		<span class="text">Label</span>
	</div>
	<div class="nav-list-item">
		<span class="icon"><i class="fa fa-table" aria-hidden="true"></i></span>
		<span class="text">Table</span>
	</div>
	<div class="nav-list-item">
		<span class="icon"><i class="fa fa-header" aria-hidden="true"></i>	</span>
		<span class="text">Headers</span>
	</div>
	<div class="divider"></div>
	<div class="nav-list-header">Components</div>
	<div class="nav-list-item">Modal</div>
	<div class="nav-list-item disabled">Progress</div>
	<div class="nav-list-item">Label</div>
	<div class="nav-list-item">Message</div>
	<div class="nav-list-item">Nav</div>
</div>