<div class="close" (click)="navBar.close()">
				<i class="fa fa-times-circle" aria-hidden="true"></i>
</div>
<div class="nav-list">
	<div class="nav-avtar">
		<div class="avtar-bg nav-avtar-grd"></div>
		<img class="avtar-img" src="assets/logo.png" style="display: none"/>
		<div class="avtar-info">
			<div class="avtar-text"><b class="side-nav-title">{{app_structured_name}}</b></div>
			<div class="avtar-details">Customized UI Components</div>
		</div>
	</div>
	<div class="nav-list-header">Overview</div>
	
	<div class="nav-list-item ripple" [routerLink]="item.link" routerLinkActive="active" *ngFor="let item of overviewList">
		<span class="icon"><i class="{{item.icon}}" aria-hidden="true"></i>	</span>
		<span class="text" >{{item.name}}</span>
	</div>
	<div class="divider"></div>
	<div class="nav-list-header">Customize</div>
	
	<div class="nav-list-item ripple" [routerLink]="item.link" routerLinkActive="active" *ngFor="let item of customizeList">
		<span class="icon"><i class="{{item.icon}}" aria-hidden="true"></i>	</span>
		<span class="text" >{{item.name}}</span>
	</div>

	<div class="divider"></div>
	<div class="nav-list-header">Layout</div>
	
	<div class="nav-list-item ripple" [routerLink]="item.link" routerLinkActive="active" *ngFor="let item of layoutList">
		<span class="icon"><i class="{{item.icon}}" aria-hidden="true"></i>	</span>
		<span class="text" >{{item.name}}</span>
	</div>

	<div class="divider"></div>
	<div class="nav-list-header">Elements</div>
	
	<div class="nav-list-item ripple" [routerLink]="item.link" routerLinkActive="active" *ngFor="let item of navElementsList">
		<span class="icon"><i class="{{item.icon}}" aria-hidden="true"></i>	</span>
		<span class="text" >{{item.name}}</span>
	</div>

	<div class="divider"></div>
	<div class="nav-list-header">Components</div>
	<div class="nav-list-item ripple" [routerLink]="item.link" routerLinkActive="active" *ngFor="let item of navComponetsList">
		<span class="icon"><i class="{{item.icon}}" aria-hidden="true"></i>	</span>
		<span class="text" >{{item.name}}</span>
	</div>
</div>