
		

		<div class="nav-brand">
			<span class="toggle-side-menu ripple" (click)="sideNav.toggle()">
				<span></span>
				<span></span>
				<span></span>
			</span>
			<a class="nav-item logo app-logo" [routerLink]="['/home']">{{app_name}}</a>
			<span class="mobile-toggle-menu" (click)="navBar.toggle()" [class.active]="navBar.isActive">
				<span></span>
				<span></span>
			</span>	
		</div>


		<div class="nav-left">
			<a class="nav-item hovered ripple" [routerLink]="['/home']" >Home</a>
			<a class="nav-item hovered ripple" [routerLink]="['/docs']" routerLinkActive="active">Docs</a>
			<!-- <a class="nav-item hovered nav-dropdown " toggle-class='{"for":"drop_down_menu_1","class":"active"}'>
				<span>Products</span><span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				<div class="menu wide-large" toggle-class-id="drop_down_menu_1">
					<div class="item detailed">
						<span class="icon"><i class="fa fa-circle" aria-hidden="true"></i></span> 
						<span>Menu 1</span>
						<span class="details">Menu 1 details</span>
					</div>
					<div class="item detailed">
						<span class="icon"><i class="fa fa-circle" aria-hidden="true"></i></span> 
						<span>Menu 2</span>
						<span class="details">Menu 2 details long</span>
					</div>
				</div>
			</a> -->
		</div>

		<div class="nav-center row">
			<a class="nav-item hovered nav-dropdown" href="https://github.com/vinayvnvv/global-ui" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a class="nav-item hovered" href="https://twitter.com/Vinayvnvv" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>

		</div>

		<div class="nav-right">
			<!-- <span class="nav-item button-link">
				<span class="button indigo outline-hovered">
					<span class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
					<span>Facebook</span>
				</span>
			</span>
			<span class="nav-item button-link">
				<span class="button red outline-hovered">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</span>
			</span> -->
			<!-- <a class="nav-item hovered nav-dropdown">
				<span>Acount</span><span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				<div class="menu wide-medium pointing point-top-end square">
					<div class="item">
						<span class="icon"><i class="fa fa-circle" aria-hidden="true"></i></span> 
						<span>Account</span>
					</div>
					<div class="item">
						<span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
						<span>Setting</span>
					</div>
					<div class="item">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span>Profile</span>
					</div>
				 	<div class="divider"></div>
					<div class="item">
						<span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span>Help</span>
					</div>
					<div class="item">
						<span class="icon"><i class="fa fa-power-off" aria-hidden="true"></i></span>
						<span>Logout</span>
					</div>
				</div>
			</a> -->
			<a class="nav-item hovered nav-dropdown " toggle-class='{"for":"drop_down_menu_1","class":"active"}'>
				<span>More</span><span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				<div class="menu wide-large" toggle-class-id="drop_down_menu_1">
					<div class="item detailed">
						<span class="icon"><i class="fa fa-adn" aria-hidden="true"></i></span> 
						<span>ng-global-ui</span>
						<span class="details">Coming Soon</span>
					</div>
					<div class="item detailed">
						<span class="icon"><i class="fa fa-code" aria-hidden="true"></i></span> 
						<span>build-global-ui</span>
						<span class="details">Coming Soon</span>
					</div>
				</div>
			</a>
			<a class="nav-item hovered"><i class="fa fa-download" aria-hidden="true"></i></a>
		</div>