<div class="anm">
	<div class="text-center">
		<h1 class="header extra-light">Play with a modifiers!</h1>
	</div>
	<div class="html-emd">
		<span class="button" [ngClass]="classChange">Button</span>
	</div>
	<div class="code">
			<div _ngcontent-c5="" class="GUI_Syntax" style="font-family: &quot;Droid Sans Mono&quot;, monospace; font-size: 87%;">
				<span style="color:#905"><span style="color:#78909C">&lt;</span>span<span style="color:#E65100"> class<span style="color:#008C79">="button</span> <span style="color:#008C79"><span class="class-change" [class.class-change-anim]="classChangeAnim">{{classChange}}</span>"</span></span><span style="color:#78909C">&gt;</span></span>Button<span style="color:#905"><span style="color:#78909C">&lt;</span>/span<span style="color:#78909C">&gt;</span></span>
			</div>
	</div>
</div>