/* You can add global styles to this file, and also import other style files */
.none {
	display: none;
}
pre {
	max-height: 300px;
	padding: 0px!important;
	background-color: transparent!important;
	border: 1px solid #d9d9d9;
	border-radius: 7px;
	position: relative;
	margin: 0em!important;
	/*max-width: 500px;*/
}
pre code {
	tab-size: 1!important;
	position: relative;
	display: block;
	overflow-x: auto;
	white-space: pre-wrap!important;
}

.html-embed {
	margin: 17px 0 17px 0;
}

.docs {

}
.docs .doc-tab {

}

.docs .doc-block {
	margin: 11px 11px 59px 21px;
	overflow-x: hidden;
	position: relative;
}
.docs .doc-block .d-sub-header {
	margin: 49px 0px 9px 0px;
	position: relative;
}