/* You can add global styles to this file, and also import other style files */
.none {
	display: none;
}
pre {
	max-height: 300px;
	padding: 0px!important;
	background-color: transparent!important;
	border: 1px solid #d9d9d9;
	border-radius: 7px;
	position: relative;
	margin: 0em!important;
	/*max-width: 500px;*/
}
pre code {
	tab-size: 2!important;
	position: relative;
	display: block;
	overflow-x: auto;
	white-space: pre-wrap!important;
}

.html-embed {
	margin: 23px 0 23px 0;
}
.html-embed.no-line-height {
	line-height: initial;
}

.docs {

}
.docs .doc-tab {

}

.docs .doc-block {
	margin: 15px 11px 69px 21px;
	overflow-x: hidden;
	position: relative;
}
.docs .doc-block .d-sub-header {
	margin: 49px 0px 9px 0px;
	position: relative;
}
.docs .doc-block .d-sub-header>div {
	display: inline-block;
	padding-left: 7px;
	border-left: 4px solid #d9d9d9;
}
.docs .doc-block .doc-block-info {
	margin: 15px 0;
}
@media screen and (max-width: 767px) {
.toc-container {
		height: initial!important;
		margin-top: -95px!important;
	}
}

@media screen and (min-width: 768px) {
	.toc-container {
		position: fixed;
	    overflow: auto;
	    margin-top: -95px;
	}
	.toc-container::-webkit-scrollbar {
	    width: 0px;
	}
	
	 
	.toc-container::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.08);
	}
	 
	.toc-container::-webkit-scrollbar-thumb {
	  background-color: rgba(0,0,0,0.29);
	  outline: 1px solid slategrey;
	}
	.toc-container:hover::-webkit-scrollbar {
		width: 5px;
	}
}

	.side-nav::-webkit-scrollbar {
	    width: 0px;
	    position: absolute;
	}
	.side-nav:hover::-webkit-scrollbar {
		width: 4px;
	}
	 
	.side-nav::-webkit-scrollbar-track {
	     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.08);
	}
	 
	.side-nav::-webkit-scrollbar-thumb {
	  background-color: rgba(0,0,0,0.49);
	  outline: 1px solid slategrey;
	  border-radius: 11px;
	}

.toc {
	font-size: 15px!important;
	font-weight: 400;
}
.toc .item.active>.toc {
	animation-name: toc_open;
	animation-duration: .1s;
}

/*animatiuon*/
@keyframes pageInUp {
  from {
    margin-top: 11px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 	1;
  }
}

@keyframes toc_open {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

.pageInUp {
  animation-name: pageInUp;
  animation-duration: 0.2s;
  transition-timing-function: ease-in;
}