<section class="banner">	
	<div class="title">Global UI<span class="beta label circle white mini">BETA</span></div>
	<div class="sub-title">User Interface is the language of the web</div>
	<div class="actions">
		<span [routerLink]="['/docs/buttons']" class="button outline border-2 white ripple  big border-dim-5" style="color:inherit">Get Started</span>&nbsp; &nbsp;&nbsp;&nbsp;
		<span class="button outline border-2 white ripple  big border-dim-7" style="color:inherit">Download</span>
	</div>
</section>