.lbl
	background-color: transparentize(#333, 0.9)
	padding: 4px
	&.no-padding
		padding: 0
	&.red
		color: #ff3860
	&.green
		color: #30b55a

// navbar
.navbar
	transition: 1.2s all
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.06), 0 5px 8px 0 rgba(0, 0, 0, 0.07), -1px 5px 14px 0 rgba(0, 0, 0, 0.08)
	.home-navbar
		transition: 0.3s all
	& .nav-brand, & .nav-left, & .nav-center, & .nav-right
		animation-name: slideToBottom
		animation-duration: 0.5s
		transition-timing-function: ease-out


//toc



//typing anim
.typewriter
	display: inline-flex
	background-color: transparentize(#000, 0.6)
	& .text
		font-family: monospace
		overflow: hidden
		border-right: .15em solid orange
		white-space: nowrap
		margin: 0 auto
		letter-spacing: .15em
		padding: 7px
		animation: typing 3.5s steps(30, end), blink-caret .9s step-end infinite

